:root {
    /* Variables de colores para facilitar cambios de diseño */
    --color-primary: #477CCC;
    --color-secondary: #BAD2F8;
    --color-bg-nav: #535863;
    --color-active: #6E90C3;
    --color-task-bg: #73ACB4;
    --color-task-completed-bg: #73B485;
    --color-task-container-bg: #D9D9D9;
    --color-muted: #6c757d;
    --color-white: #fff;

    /* Variables de fuentes para consistencia tipográfica */
    --font-family-main: 'Berlin Sans FB', sans-serif;
    --font-size-h1: 5.5rem;
    --font-size-button: 1.2rem;
    --font-size-task: 1.5rem;
    --font-size-muted: 1.5rem;
    --font-size-input: 1.2rem;

    /* Variables de bordes y radios para control de esquinas redondeadas */
    --border-radius-small: 0.9rem;
    --border-radius-large: 1rem;

    /* Variables de tamaños para ajustar proporciones */
    --max-width-container: 800px;
    --height-task-container: 400px;

    /* Variables de espaciado para gestionar márgenes y padding */
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    --spacing-extra-large: 50px;
}

/* Configuración de la fuente principal del sitio */
body {
    font-family: var(--font-family-main) !important;
}

/* Estilo del título principal, centrado y con margen inferior */
h1 {
    font-size: var(--font-size-h1);
    text-align: center;
    margin-bottom: var(--spacing-large);
    font-weight: normal; /* Quitando el bold */
}

/* Estilo para el botón de añadir tarea */
#btn-add,
#btn-create-task {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-large);
    font-size: var(--font-size-button);
    border: none;
    padding: 0.5rem 1rem;
    display: block;
    margin: auto; /* Siempre centrado */
}

/* Estilo para el mensaje de "No tienes tareas Pendientes" */
#Empty p {
    color: var(--color-muted);
    font-size: var(--font-size-muted);
    text-align: center;
    font-weight: normal; /* Quitando el bold */
}

/* Estilo para la barra de navegación */
nav {
    background-color: var(--color-bg-nav);
}

/* Estilo para los botones en la barra de navegación */
nav .btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
}

/* Estilo para el texto de la marca en la barra de navegación */
nav .navbar-brand {
    font-size: 1.2rem;
    font-weight: normal; /* Quitando el bold */
}

/* Estilo para el botón activo en la barra de navegación */
nav .btn.active {
    background-color: var(--color-active);
    color: var(--color-white);
}

/* Estilo del contenedor principal centrado con un ancho máximo */
.container {
    max-width: var(--max-width-container);
    margin: auto;
    margin-top: 80px;
}

/* Estilo para el grupo de entrada de tareas */
.input-group {
    font-size: var(--font-size-input);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Estilo del campo de texto para añadir tareas */
.input-group .input-task {
    border-radius: var(--border-radius-small);
    border-width: 0.1rem;
    padding-left: var(--spacing-medium);
    border-color: #7c7c7c;
    flex-grow: 1;
    margin-right: var(--spacing-small);
}

/* Estilo del contenedor de tareas con altura fija y barra de desplazamiento */
.task-container {
    background-color: var(--color-task-container-bg);
    border-radius: var(--border-radius-large);
    padding: 12px;
    height: var(--height-task-container);
    overflow-y: auto;
    align-items: center;
}

/* Eliminación del estilo de lista predeterminado y del padding */
.task-container ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

/* Estilo para los elementos de la lista de tareas */
.task-container li, .task-container li:first-child, .task-container li:last-child {
    background-color: var(--color-task-bg);
    color: var(--color-white);
    margin-bottom: var(--spacing-small);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius-large); /* Redondeado */
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: normal;
}

/* Estilo para las tareas completadas */
.task-container li.completed {
    background-color: var(--color-task-completed-bg);
}

.task-container li.completed .task-text {
    text-decoration: line-through; /* Solo el título tachado */
}

/* Estilo para el encabezado de las tareas (título y fecha) */
.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Ajustes para móviles */
}

/* Contenedor del título */
.task-title-container {
    font-size: 1.8rem;
    color: var(--color-white);
    text-align: left;
    font-weight: normal;
    width: 100%;
    margin-bottom: 10px;
}

/* Contenedor de la fecha y el icono */
.task-date-container {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    /* color: var(--color-muted); */
    font-weight: normal;
    text-align: right;
}

/* Ajuste del ícono de calendario */
.calendar-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* background-color: var(--color-white);
    padding: 0.2rem; */
    border-radius: 0.5rem;
}

/* Estilo para la descripción de las tareas */
.task-desc {
    font-size: 1.5rem;
    margin-top: var(--spacing-small);
    color: var(--color-white);
    text-align: justify;
}

/* Contenedor para los botones de completar y eliminar tarea */
.task-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: var(--spacing-small);
}

/* Estilo para los botones de completar y eliminar */
.task-buttons .btn-complete,
.task-buttons .btn-delete {
    flex-basis: 48%;
    background-color: transparent;
    color: var(--color-white);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón de eliminar cuando la tarea está completada */
.task-container li.completed .btn-delete {
    flex-basis: 100%;
    margin-top: var(--spacing-small);
}

/* Colores para los botones */
.task-buttons .btn-complete {
    background-color: #28a745; /* Verde para completar */
}

.task-buttons .btn-delete {
    background-color: #dc3545; /* Rojo para eliminar */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .task-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .task-title-container {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .task-date-container {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 769px) {
    .task-header {
        flex-direction: row; /* En pantallas grandes, alineado en una fila */
        align-items: center;
        justify-content: space-between;
    }

    .task-title-container {
        width: auto; /* El título ocupa solo el espacio que necesita */
        text-align: left;
        margin-bottom: 0;
    }

    .task-date-container {
        justify-content: flex-end; /* Fecha e icono alineados a la derecha */
    }
}

/* Estilo para el botón de crear nueva tarea */
#btn-new-task {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-large);
    font-size: var(--font-size-button);
    display: block;
    margin: auto;
    margin-bottom: var(--spacing-large);
    border: none;
    padding: 0.5rem 1rem;
}

/* Estilo para el footer */
footer {
    text-align: center;
    margin-top: var(--spacing-extra-large);
    font-size: var(--font-size-muted);
    color: var(--color-muted);
    padding: var(--spacing-medium);
    background-color: var(--color-bg-nav);
    border-top: 1px solid var(--color-muted);
}
